<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Змії</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <script type="text/javascript" src="/js/main.js" defer></script>
    <script type="text/javascript" src="/js/menu.js"></script>
    <script type="text/javascript" src="/js/GameSocket.js"></script>
</head>
<body>
<div>
   <div class="header">
        <div class="left">
            <button class="burgerMenu-btn" onclick="toggleSidebar()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
            </button>
        </div>
		<div class="header-text">
            <h1>Ігри</h1>
        </div>
    </div>
    <div class="container">
        <div class="sidebar">
            <a class="statistics-l" href="statistics.html">Статистика</a>
            <a class="setings-l" href="setings.html">Налаштування</a>
        </div>
        <div class="main-content" id="mainContent">
            <div class="container">
                <div class="game-selection"></div>
                    <input type="text" id="nickname" name="nickname" placeholder="Введіть ваш нікнейм">
                </div>
                <div class="room-creation">
                    <select id="gameType" name="gameType">
                        <option value="snakes">Змії</option>
                        <option value="survival">Виживалка</option>
                    </select>
                    <input type="text" id="roomName" name="roomName" placeholder="Введіть назву кімнати">
                    <button onclick="createRoom()">Створити</button>
                </div>
                <table class="roomTable">
                    <tr>
                        <th>Гра</th>
                        <th>Кімната</th>
                        <th>Долучитися</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>